.task {
  width: 300px;
  background-color: rgb(236, 247, 236);
  border: 3px solid bisque;
  overflow: hidden;
  padding: 4px;
}
.lowPriority {
  border-color: green;
}
.normalPriority {
  border-color: rgb(190, 146, 240);
}
.highPriority {
  border-color: red;
}
.panel {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(63, 59, 59);
}