.task {
  width: 300px;
  background-color: rgb(236, 247, 236);
  border: 3px solid bisque;
  overflow: hidden;
}
.lowPriority {
  border-color: green;
}
.normalPriority {
  border-color: rgb(190, 146, 240);
}
.highPriority {
  border-color: red;
}
